* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(15,20,36);
}

.container {
    margin-left: 150px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


#profile {
    background-color: rgb(88,71,235);
    width: 260px;
    border-radius: 15px;
    height: 320px;
    margin-bottom: 40px;
}

#profilebuttom {
    background-color: rgb(28,31,74);
    border-radius: 0 0 15px 15px;
    height: 140px;
    width: 260px;

}

#profilebuttom a{
    text-decoration: none;
    display: block;
    color: rgb(172,175,175);
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 13px;
    font-size: 17px;
    font-weight: 800;
}

#profilebuttom a:hover {
    color: white;
}



.profileimg {
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 40px;
}

.paragreport {
    color: rgb(172,175,175);
    margin-left: 20px;
    margin-top: 40px;
    font-weight: 800;
}

.paragname {
    color: white;
    margin-left: 20px;
    font-weight: 600px;
    font-size: 40px;
    margin-top: -10px;
}

#belowimg {
    background-color: rgb(28,31,74);
    border-radius: 15px;
    width: 250px;
    height: 190px;
    margin-top: -35px;
    margin-bottom: 20px;
}

#workdot {
    display: grid;
    grid-template-columns: auto auto;
    color: white;
}

#imgdot {
    margin-top: 30px;
    margin-left: 100px;
}

#imgdot:hover {
    color: whitesmoke;
    width: 25px;
}

#jobparag {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
}

.hourwork {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;

}

.hourparagwork {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}

.hourplay {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;
}

.hourparagplay {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}


.hoursocial {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;
}

.hourparagsocial {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}

.hourstudy {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;
}

.hourparagstudy {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}


.hourself {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;
}

.hourparagself {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}

.hourexercise {
    color: white;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 2px;
}

.hourparagexercise {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 18px;
    color: rgb(172,175,175);
}



#workimg {
    margin-left: 150px;
    margin-bottom: -15px;
    z-index: -1;
    position: relative;
}

#downthird {
    margin-top: -40px;
}

#downforth {
    margin-top: -10px;
}

@media (max-width: 1350px) {
    .container {
        margin-left: 150px;
        margin-top: 80px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
}


@media (max-width: 800px) {
    .container {
        margin-left: 150px;
        margin-top: 80px;
        display: grid;
        grid-template-columns: auto ;
    }
    #secondwhole {
        margin-top: 100px;
    }
}




